.base-layout {
    .layout-sidebar {
        background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
        width: 15%;
        padding-left: 10px;
        height: 100%;
        position: fixed
    }

    .layout-children {
        width: 85%;
        margin-left: calc(15%);
    }

    .nav-item {
        cursor: pointer;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        color: #f7f7f9 !important;
        line-height: 40px;
    }

    .nav-item.selected {
        cursor: pointer;
        width: 95%;
        font-size: 20px;
        font-weight: 600;
        color: #385063 !important;
        background: #ffffff !important;
        line-height: 40px;
    }

    .logout-item {
        width: 220px;
        position: fixed;
        bottom: 5px;
        border-top: 1px solid #f3f5f9 !important;

        .nav-item{
            margin-top: 5px;
        }
    }
}