.login-screen {
    background: #dbdbe2;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-blend-mode: color;
    .title {
        color: #3f4d58;
        font-size: 36px;
        font-weight: 600;
    }

    .login-form {
        // width: 30%;
        align-items: center;

        .form-label {
            font-size: 16px;
            font-weight: 500;
            color: #3f4d58;
        }
    }

    .btn-login {
        background: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
        color: #dbdbe2;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        border: 0px;
        width: 100%;
    }
}