.devices-screen {
    .fas {
        font-size: 20px;
        cursor: pointer;
    }
    .fa-pencil-alt {
        color: #6088E0;
    }
    .fa-trash-alt {
        color: #F41B1B;
    }
}

.btn-add-home {
    background: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);
    border: none;
    display: flex;
}